.h1-header{
  text-align: center;
}

button.button-voltar{
  float: left;
}

.row{
  margin: auto;
}

.button-add-investidor button{
  float: right;
  margin-right: 1%;
}

button.button-edit{
  margin-top: 0.7rem;
  float: right;
}
