<link rel="stylesheet" href="css/styles-detalheinvestidor.css">
<title>Detalhe do Investidor ((X)) - Astra Investimentos</title>

<section>
    <div>
      <button class="button-voltar btn waves-effect waves-light blue" type="submit" ng-click="buttonBack()"> Voltar
        <i class="material-icons left">arrow_back</i>
      </button>
    </div>
    <div class="h1-header card">
      <div class="card-content">
        <h3>Informações do Investidor ((X))</h3>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <h6>Nome: Paulo Felipe</h6>
        <h6>CPF: 363.816.708-94</h6>
        <h6>Data de Nascimento: 15/03/1996</h6>
        <h6>Endereço: Avenida Roque Petroni Jr, Nº 160, CEP: 04707000, São Paulo, SP</h6>
        <h6>TEL: (11) 50421212 ou CEL: (11) 984422686</h6>
        <h6>Valor da aplicação inicial: R$: 150.000,00 reais | rentabilidade: 1.40% ao mês</h6>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="col s6">
          <div class="card">
            <div class="card-content">
              <h5> Rentabilidade do Último Mês:</h5>
              <div class="card">
                <div class="card-content">
                  <div class="row">
                    <div class="col s12">
                      <div class="col s6">
                        <h5>Fixo | 1.40% </h5>
                      </div>
                      <div class="col s6">
                        <button class="button-edit btn waves-effect waves-light blue" type="submit" name="action">
                          <i class="material-icons">edit</i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col s6">
          <div class="card">
            <div class="card-content">
              <h5> Valor Atual:</h5>
              <div class="card">
                <div class="card-content">
                  <div class="row">
                    <div class="col s12">
                      <div class="col s6">
                        <h5> R$: 189.000,00 </h5>
                      </div>
                      <div class="col s6">
                        <button class="button-edit btn waves-effect waves-light" type="submit" ng-click="buttonSearchValor()">
                          <i class="material-icons">search</i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
