  <link rel="stylesheet" href="css/styles-index.css">
  <title>Login - Astra Investimentos</title>

<section>
        <div class="logo-astra">
          <img src="imagens/astra-investiments-lcc-logo.gif">
        </div>
        <div class="card blue-grey lighten-4">
          <div class="card-content black-text">
            <div class="row">
             <form class="col l12">
               <div class="row">
                 <div class="input-field col l6 s12">
                   <i class="material-icons prefix">account_circle</i>
                   <input id="email" type="email" class="validate" placeholder="E-mail" ng-model="email">
                 </div>
                 <div class="input-field col l6 s12">
                   <i class="material-icons prefix">lock_outline</i>
                   <input id="password" type="password" class="validate" placeholder="Senha" ng-model="password">
                 </div>
               </div>
             </form>
              <div class="button-login">
                <div class="row">
                  <div class="col l12">
                    <div class="col l6 s12">
                      <a href="investidores.html">Recuperar Senha</a>
                    </div>
                    <div class="col l6 s12">
                      <button class="btn waves-effect waves-light" type="submit" ng-click="login()">Acessar
                        <i class="material-icons right">send</i>
                      </button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
